
@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inn-body-section pad-bot-55">
    <div class="container">
        <div class="row">
            <div class="page-head">
                <h2>شرم الشيخ</h2>
                <div class="head-title">
                    <div class="hl-1"></div>
                    <div class="hl-2"></div>
                    <div class="hl-3"></div>
                </div>
                <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p> -->
            </div>
            <!--TYPOGRAPHY SECTION-->
            <div class="col-md-12">
                <div class="head-typo typo-com">
                    <h2>5 أيام</h2>
                    <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p> -->
                    <!--EVENT-->
                    <div class="row events">
                        <div class="col-md-2"> <img src="~/Images/extra/9.jpg" alt="" /> </div>
                        <div class="col-md-8">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4">
                                <h3>إسم الفندق</h3>
                            </a>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4" class="waves-effect waves-light event-regi">اليوم#1</a>
                        </div>
                    </div>
                    <!--END EVENT-->
                    <!--EVENT-->
                    <div class="row events">
                        <div class="col-md-2"> <img src="~/Images/extra/9.jpg" alt="" /> </div>
                        <div class="col-md-8">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4">
                                <h3>إسم النشاط</h3>
                            </a>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4" class="waves-effect waves-light event-regi">اليوم#2</a>
                        </div>
                    </div>
                    <!--END EVENT-->
                    <!--EVENT-->
                    <div class="row events">
                        <div class="col-md-2"> <img src="~/Images/extra/9.jpg" alt="" /> </div>
                        <div class="col-md-8">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4">
                                <h3>إسم النشاط</h3>
                            </a>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4" class="waves-effect waves-light event-regi">اليوم#3</a>
                        </div>
                    </div>
                    <!--END EVENT-->
                    <!--EVENT-->
                    <div class="row events">
                        <div class="col-md-2"> <img src="~/Images/extra/9.jpg" alt="" /> </div>
                        <div class="col-md-8">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4">
                                <h3>إسم الفندق</h3>
                            </a>
                            <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. </p>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-dismiss="modal" data-toggle="modal"
                               data-target="#modal4" class="waves-effect waves-light event-regi">اليوم#4</a>
                        </div>
                    </div>
                    <!--END EVENT-->
                </div>
            </div>
            <!--END TYPOGRAPHY SECTION-->
        </div>
        <center>
            <div class="input-field col s12">
                <input type="submit" value="إنشاء رحلة مطابقة" class="form-btn">
            </div>
        </center>
    </div>
</div>